node_modules/
dist/
out/
*.log
.DS_Store
Thumbs.db
coverage/
db.json
printer-config.json
station-config.json
app-log.txt
app-err.txt
logo_*.jpg
logo_*.png
build/preview_*.png
build/icon_256.png
servidor-dedicado/node_modules/
operador-app/node_modules/
operador-app/www/media/
TMUSB001
WSD-*
servidor-dedicado.zip
media/*.mp4
media/*.mp3
media/*.wav
